* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 793px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu__list {
    display: flex;
}

.menu__list li + li{
    padding-left: 50px;
}

.login {
    margin-right: 44px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.sign-up {
    text-transform: uppercase;
    color: #250f8a;
    font-weight: 600;
    background-color: #fff;
    padding: 8px 43px;
    border-radius: 20px;
}

.menu__list a {
    font-weight: 600;
    text-transform: uppercase;
    opacity: .5;
    color: #fff;
    transition: all .5s;
}

.menu__list a:hover {
    opacity: 1;
}

